<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="ai.zara.org.permission.ORG_HOME"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:label="Org Sync"
        android:resizeableActivity="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <provider
            android:name=".OrgSyncProvider"
            android:authorities="ai.zara.org.sync.home"
            android:exported="true"
            android:readPermission="ai.zara.org.permission.ORG_HOME"
            android:writePermission="ai.zara.org.permission.ORG_HOME"
            android:grantUriPermissions="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
